
#define PBS_SMOOTH         0x01
#define TVS_NONEVENHEIGHT  0x4000

#define IDI_MAINICON    101
#define IDD_MAINFORM    102
#define IDM_MAINMENU    103
#define IDD_INFOBUILD   104
#define IDB_FOLDER      105
#define IDD_XVOLFORM    202
#define IDC_BTNEXIT     1001
#define IDC_EDITFILE    1002
#define IDC_BTNFILE     1003
#define IDC_EDITROOT    1004
#define IDC_BTNROOT     1005
#define IDC_EDITTEXT    1006
#define IDC_EDITYEAR    1007
#define IDC_SPINYEAR    1008
#define IDC_EDITMONTH   1009
#define IDC_SPINMONTH   1010
#define IDC_EDITDAY     1011
#define IDC_SPINDAY     1012
#define IDC_EDITHOUR    1013
#define IDC_SPINHOUR    1014
#define IDC_EDITMIN     1015
#define IDC_SPINMIN     1016
#define IDC_EDITSEC     1017
#define IDC_SPINSEC     1018
#define IDC_CHECKUTC    1019
#define IDC_TREEVIEW    1020
#define IDC_LISTVIEW    1021
#define IDC_BTNVOL      1022
#define IDC_BTNNODE     1023
#define IDC_BTNSEL      1024
#define IDC_CHECKFULL   1025
#define IDC_PROGVIEW    1026
#define IDC_EDITFILES   1027
#define IDC_BTNFILES1   1028
#define IDC_BTNFILES2   1029
#define IDC_BTNFILES3   1030
#define IDC_BTNFILES4   1031
#define IDC_CHECKFILES  1032
#define IDC_LISTFILES   1033
#define IDC_EDITEX      1034
#define IDC_BTNEX1      1035
#define IDC_BTNEX2      1036
#define IDC_BTNEX3      1037
#define IDC_BTNEX4      1038
#define IDC_CHECKEX     1039
#define IDC_LISTEX      1040
#define IDC_EDITIN      1041
#define IDC_BTNIN1      1042
#define IDC_BTNIN2      1043
#define IDC_BTNIN3      1044
#define IDC_BTNIN4      1045
#define IDC_CHECKIN     1046
#define IDC_LISTIN      1047
#define IDC_BTNOPEN     1048
#define IDC_BTNSAVE     1049
#define IDC_BTNBUILD    1050
#define IDC_PROGBUILD   1051
#define IDC_CHECKSORT   1052
#define IDC_EDITBINFO   1053
#define IDC_BTNINFO     1054
#define IDC_EDTRACE     1055
#define ID_MENUVIEW     40001
#define ID_MENUMODS     40002
#define ID_MENUINFO     40003

IDI_MAINICON  ICON  DISCARDABLE  "MainIcon.ico"

IDD_MAINFORM DIALOGEX 0, 0, 509, 337
STYLE DS_FIXEDSYS | DS_NOIDLEMSG | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "GothicVDFS 2.6 (mod)"
MENU IDM_MAINMENU
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT          "&Filename :",-1,7,8,40,12
  EDITTEXT       IDC_EDITFILE,50,7,422,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
  DEFPUSHBUTTON  "...",IDC_BTNFILE,472,7,30,14,0,WS_EX_STATICEDGE
  LTEXT          "&Root Path :",-1,7,26,40,12
  EDITTEXT       IDC_EDITROOT,50,25,422,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON      "...",IDC_BTNROOT,472,25,30,14,0,WS_EX_STATICEDGE
  LTEXT          "&Comment :",-1,7,45,40,11
  CONTROL        "",IDC_EDITTEXT,"RICHEDIT",ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,50,44,304,54, WS_EX_STATICEDGE
  LTEXT          "&Timestamp :",-1,361,48,40,12
  EDITTEXT       IDC_EDITYEAR,362,65,54,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINYEAR,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,407,60,9,14
  CTEXT          "­",-1,416,65,9,14,SS_CENTERIMAGE
  EDITTEXT       IDC_EDITMONTH,425,65,33,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINMONTH,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,450,60,9,14
  CTEXT          "­",-1,458,65,10,14,SS_CENTERIMAGE
  EDITTEXT       IDC_EDITDAY,469,65,33,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINDAY,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,493,60,9,14
  EDITTEXT       IDC_EDITHOUR,362,84,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINHOUR,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,383,79,9,14
  CTEXT          ":",-1,392,84,8,14,SS_CENTERIMAGE
  EDITTEXT       IDC_EDITMIN,400,84,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINMIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,421,79,9,14
  CTEXT          ":",-1,430,84,8,14,SS_CENTERIMAGE
  EDITTEXT       IDC_EDITSEC,438,84,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINSEC,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED,459,79,9,14
  CONTROL        "&UTC",IDC_CHECKUTC,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | WS_TABSTOP,472,84,30,14
  CONTROL        "",IDC_TREEVIEW,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | TVS_NONEVENHEIGHT | WS_TABSTOP,7,106,144,191,WS_EX_STATICEDGE
  CONTROL        "",IDC_LISTVIEW,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOLABELWRAP | LVS_NOSORTHEADER | WS_TABSTOP,158,106,345,191,WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITFILES,7,106,178,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNFILES1,186,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNFILES2,199,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNFILES3,212,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNFILES4,225,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKFILES,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,239,106,14,14
  CONTROL        "",IDC_LISTFILES,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,7,121,245,176,WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITEX,257,106,177,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNEX1,435,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNEX2,448,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNEX3,461,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNEX4,474,106,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKEX,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,488,106,14,14
  CONTROL        "",IDC_LISTEX,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,257,121,244,78,WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITIN,257,204,177,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNIN1,435,204,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNIN2,448,204,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNIN3,461,204,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNIN4,474,204,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKIN,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,488,204,14,14
  CONTROL        "",IDC_LISTIN,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,257,219,244,78,WS_EX_STATICEDGE
  PUSHBUTTON     "&Extract Volume",IDC_BTNVOL,7,304,70,14,0,WS_EX_STATICEDGE
  PUSHBUTTON     "Extract &Directory",IDC_BTNNODE,83,304,70,14,0,WS_EX_STATICEDGE
  PUSHBUTTON     "Extract &Selected",IDC_BTNSEL,158,304,70,14,0,WS_EX_STATICEDGE
  CONTROL        "With &Path",IDC_CHECKFULL,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,232,304,48,14
  CONTROL        "",IDC_PROGVIEW,"msctls_progress32",PBS_SMOOTH,286,304,158,14
  PUSHBUTTON     "&Open Script",IDC_BTNOPEN,7,304,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "&Save Script",IDC_BTNSAVE,83,304,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "&Build Volume",IDC_BTNBUILD,158,304,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "Sorted",IDC_CHECKSORT,"Button",BS_AUTOCHECKBOX | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,232,304,48,14
  CONTROL        "",IDC_PROGBUILD,"msctls_progress32",PBS_SMOOTH | NOT WS_VISIBLE,286,304,158,14
  PUSHBUTTON     "E&xit",IDC_BTNEXIT,452,304,50,14,0,WS_EX_STATICEDGE
END

IDD_INFOBUILD DIALOGEX 0, 0, 245, 113
STYLE DS_FIXEDSYS | DS_NOIDLEMSG | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "MOD Builder Info"
FONT 8, "MS Shell Dlg"
BEGIN
  PUSHBUTTON  "&OK",IDOK,188,90,50,16,0,WS_EX_STATICEDGE
  PUSHBUTTON  "<<  Open in &Viewer",IDYES,7,90,75,16,0,WS_EX_STATICEDGE
  CONTROL     "",IDC_EDITBINFO,"RICHEDIT",ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,7,7,231,76,WS_EX_STATICEDGE
END

IDM_MAINMENU MENU DISCARDABLE
BEGIN
  MENUITEM "( &Viewer )",ID_MENUVIEW
  MENUITEM "( &Builder )",ID_MENUMODS, CHECKED
  MENUITEM "( &Info )",ID_MENUINFO
END

IDB_FOLDER  BITMAP  DISCARDABLE  "Folder.bmp"

IDD_XVOLFORM DIALOGEX 0,0,331,222
STYLE DS_FIXEDSYS | DS_NOIDLEMSG | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "GothicVDFS 2.6 (mod)"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT          "&Filename :",-1,8,10,40,12
  EDITTEXT       IDC_EDITFILE,50,8,243,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "...",-1,293,8,30,14,WS_DISABLED
  LTEXT          "&Root Path :",-1,8,27,40,12
  EDITTEXT       IDC_EDITROOT,50,25,243,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "...",-1,293,25,30,14,WS_DISABLED
  CONTROL        "",IDC_TREEVIEW,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | TVS_NONEVENHEIGHT | WS_TABSTOP | NOT WS_VISIBLE,8,47,150,147,WS_EX_STATICEDGE
  CONTROL        "",IDC_LISTVIEW,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOLABELWRAP | LVS_NOSORTHEADER | WS_TABSTOP | NOT WS_VISIBLE,161,47,162,147,WS_EX_STATICEDGE
  CONTROL        "",IDC_EDTRACE,"RICHEDIT",ES_MULTILINE|ES_AUTOVSCROLL|ES_AUTOHSCROLL|ES_READONLY|ES_WANTRETURN|WS_VSCROLL|WS_HSCROLL|WS_GROUP|WS_TABSTOP,8,47,315,147, WS_EX_STATICEDGE
  CONTROL        "",IDC_PROGVIEW,"msctls_progress32",PBS_SMOOTH,8,201,150,14
  PUSHBUTTON     "&Info",IDC_BTNINFO,166,201,50,14
  DEFPUSHBUTTON  "&Extract",IDC_BTNVOL,216,201,50,14
  PUSHBUTTON     "E&xit",IDC_BTNEXIT,273,201,50,14

  CONTROL        "",IDC_EDITTEXT,"RICHEDIT",ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | NOT WS_VISIBLE,8,47,100,54, WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITYEAR,8,47,54,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINYEAR,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  EDITTEXT       IDC_EDITMONTH,8,47,33,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINMONTH,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  EDITTEXT       IDC_EDITDAY,8,47,33,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINDAY,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  EDITTEXT       IDC_EDITHOUR,8,47,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINHOUR,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  EDITTEXT       IDC_EDITMIN,8,47,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINMIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  EDITTEXT       IDC_EDITSEC,8,47,30,14,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | NOT WS_BORDER | NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "",IDC_SPINSEC,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_DISABLED | NOT WS_VISIBLE,8,47,9,14
  CONTROL        "UTC",IDC_CHECKUTC,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | WS_TABSTOP | NOT WS_VISIBLE,8,47,30,14
  EDITTEXT       IDC_EDITFILES,8,47,100,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNFILES1,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNFILES2,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNFILES3,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNFILES4,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKFILES,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,8,47,14,14
  CONTROL        "",IDC_LISTFILES,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,8,47,100,100,WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITEX,8,47,100,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNEX1,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNEX2,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNEX3,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNEX4,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKEX,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,8,47,14,14
  CONTROL        "",IDC_LISTEX,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,8,47,100,78,WS_EX_STATICEDGE
  EDITTEXT       IDC_EDITIN,8,47,100,14,ES_AUTOHSCROLL | NOT WS_VISIBLE | NOT WS_BORDER,WS_EX_STATICEDGE
  PUSHBUTTON     "+",IDC_BTNIN1,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "-",IDC_BTNIN2,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "<",IDC_BTNIN3,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "...",IDC_BTNIN4,8,47,14,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "- r",IDC_CHECKIN,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,8,47,14,14
  CONTROL        "",IDC_LISTIN,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | NOT WS_VISIBLE | WS_TABSTOP,8,47,100,78,WS_EX_STATICEDGE
  PUSHBUTTON     "Extract Directory",IDC_BTNNODE,8,47,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "Extract Selected",IDC_BTNSEL,8,47,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "With Path",IDC_CHECKFULL,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP | NOT WS_VISIBLE,8,47,48,14
  PUSHBUTTON     "Open Script",IDC_BTNOPEN,8,47,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "Save Script",IDC_BTNSAVE,8,47,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  PUSHBUTTON     "Build Volume",IDC_BTNBUILD,8,47,70,14,NOT WS_VISIBLE,WS_EX_STATICEDGE
  CONTROL        "Sorted",IDC_CHECKSORT,"Button",BS_AUTOCHECKBOX | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP,8,47,48,14
  CONTROL        "",IDC_PROGBUILD,"msctls_progress32",PBS_SMOOTH | NOT WS_VISIBLE,8,47,100,14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,6,0,0
 PRODUCTVERSION 2,6,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x28L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "Comments", "This program is freeware.\r\nUsage at your own risk.\0"
      VALUE "FileDescription", "GothicVDFS - VDFS Viewer/Builder\0"
      VALUE "FileVersion", "2.6 (mod)\0"
      VALUE "InternalName", "GothicVDFS\0"
      VALUE "LegalCopyright", "Copyright © 2003 Nico Bendlin\0"
      VALUE "OriginalFilename", "GothicVDFS.exe\0"
      VALUE "ProductName", "Gothic II\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

1 24 "GothicVDFS.exe.manifest"