#define IDI_MAINICON	1
#define IDD_MAINFORM	101
#define IDC_EDTROOT	1001
#define IDC_BTNROOT	1002
#define IDC_EDTRACE	1003
#define IDC_BTNINFO     1004
#define IDC_BTNDOIT	1005
#define IDC_BTNEXIT	1006
#define IDC_TXTINFO	1007
#define IDC_PRGFILE     1008

#define PBS_SMOOTH 0x01

LANGUAGE 0, 0

IDI_MAINICON ICON DISCARDABLE "MainIcon.ico"

IDD_MAINFORM DIALOGEX 0,0,331,222
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "GothicZTEX 2.6"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "&Path :",-1,STATIC,SS_LEFT|WS_CHILD|WS_VISIBLE|WS_GROUP,10,10,20,12
  CONTROL "",IDC_EDTROOT,EDIT,ES_LEFT|ES_READONLY|WS_CHILD|WS_VISIBLE,33,8,260,14,WS_EX_STATICEDGE
  CONTROL "...",IDC_BTNROOT,BUTTON,WS_CHILD|WS_VISIBLE|WS_TABSTOP,293,8,30,14
  CONTROL "",IDC_EDTRACE,"RICHEDIT",ES_MULTILINE|ES_AUTOVSCROLL|ES_AUTOHSCROLL|ES_READONLY|ES_WANTRETURN|WS_VSCROLL|WS_HSCROLL|WS_GROUP|WS_TABSTOP,8,30,315,163, WS_EX_STATICEDGE
  CONTROL "&Info...",IDC_BTNINFO,BUTTON,BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP,166,201,50,14
  CONTROL "&Convert",IDC_BTNDOIT,BUTTON,BS_DEFPUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,216,201,50,14
  CONTROL "E&xit",IDC_BTNEXIT,BUTTON,WS_CHILD|WS_VISIBLE|WS_TABSTOP,273,201,50,14
  CONTROL "",IDC_PRGFILE,"msctls_progress32", WS_CHILD|WS_VISIBLE|WS_GROUP|PBS_SMOOTH,8,201,150,14
END

1 VERSIONINFO
  FILEVERSION 2,6,0,0
  PRODUCTVERSION 2,6,0,0
  FILEFLAGSMASK 0x3fL
  FILEFLAGS 0x28L
  FILEOS 0x40004L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "00000000"
    BEGIN
      VALUE "FileDescription", "GothicZTEX - Zengin TEXture Converter\0"
      VALUE "FileVersion", "2.6\0"
      VALUE "LegalCopyright", "Copyright © 2003 Nico Bendlin\0"
      VALUE "ProductName", "Gothic II\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x0000
  END
END

1 24 "GothicZTEX.exe.manifest"
